<li *ngIf="pokemon" class="mb-4 shadow rounded relative bg-yellow-200">
    <app-favourite-button [pokemonId]="pokemon.id"></app-favourite-button>
    <section class="p-4">
        <span> {{ pokemon.name }}</span>
        <img [src]="pokemon.sprites" [alt]="pokemon" />
    </section>
</li>