<nav class="bg-red-500 flex justify-between items-center p-4 sticky top-0 w-full z-50 text-white text-xl">
    <span class="font-bold">Pochimons</span>
    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemon">Pokemons</a>
            </li>
            <li class="px-4">
                <a routerLink="/profile">Profile</a>
            </li>
            <li class="px-4">
                <app-logout></app-logout>
            </li>
        </ul>
    </ng-container>
</nav>