<header class="container mx-auto p-4">
    <h1 class="text-3xl text-white">Welcome, trainer</h1>
</header>
<main class="container mx-auto p-4">
    <h4 class="text-xl text-white">Your Favourite Pokemon</h4>
    <app-pokemon-list [pokemons]="favourites"></app-pokemon-list>
</main>